# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
env/
.venv/
venv/
ENV/
.env

# Jupyter and Streamlit
.ipynb_checkpoints
.streamlit/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.sqlite3
*.db

# Ollama
ollama/
